# API tools
pydantic
pydantic-settings
uvicorn[standard]
fastapi
sqlalchemy

# Security
python-multipart
python-jose[cryptography]
passlib[bcrypt]

# db and migration tools
psycopg2
alembic
alembic_utils
sqladmin
sqladmin[full]

# testing
pytest
httpx